/* :root {
    font-size: 24px;
} */

* {
    margin: 0;
    padding: 0;
    overflow: hidden;
    box-sizing: border-box;

    font-family: Comfortaa, sans-serif;
}

body {
    display: flex;
    width: 100vw;
    height: 100vh;
}

a {
    color: black;
}

.side-bar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    position: relative;
    background-image: url(images/background-img.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    width: 40vw;
    height: 100vh;
}

.side-bar::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    background-color: rgba(193, 225, 193, 0.3);
    pointer-events: none;
}

.side-bar .logo {
    display: flex;
    align-items: center;
    gap: 20px;

    position: relative;
    top: 20vh;
    left: 3vw;
}

.side-bar .logo-slogan {
    margin-top: 10px;
}

.side-bar .logo-img {
    height: 10vh;
}

.side-bar .photo-creds {
    align-self: center;
    background-color: rgba(255, 255, 255, 0.6);
    margin-bottom: 10px;
}


.content {
    display: flex;
    flex-direction: column;
    width: 60vw;
    background-color: rgba(143, 200, 143, 1);

}

.content .content-description {
    width: 800px;
    margin-top: 10vh;
    padding: 5px 50px;
    font-size: 1.3rem;
}

.content .sign-up-entrigue {
    margin: 5px 0 40px 0;
    padding: 0 50px;
    font-size: 1.5rem;
}

.content .form-container {
    background-color: rgb(168, 213, 168);
    box-shadow: 0px 6px 8px rgba(138, 183, 138, 0.5);
    margin-top: 25px;
    padding: 25px 50px;
}


.content .sign-up-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 20px;
}

.input-container {
    display: flex;
    flex-direction: column;
    width: 20vw;
    padding: 20px 0;
}

input {
    height: 3vh;
    border-width: 1px;
    border-radius: 0.3rem;
    outline: none;
}


input:hover {
    border: 1px solid rgb(188, 223, 188);
}

input:valid {
    border: 2px solid rgb(50, 205, 50);
}

input:focus {
    border: 2px solid rgb(50, 205, 50);
    border-width: 2px;
    transition: border-color 0.3s ease;
    box-shadow: 0px 6px 8px rgb(188, 223, 188);
}