:root {
    --left-margin: 50px;
    --valid-colour: rgb(50, 205, 50);
    --border-radius: 0.3rem;
    --box-shadow: 0px 6px 8px rgba(138, 183, 138, 0.5);
    --dark-accent-colour: rgb(0, 50, 0);
    --credits-color: rgba(255, 255, 255, 0.6);
}

* {
    margin: 0;
    padding: 0;
    overflow: hidden;
    box-sizing: border-box;

    font-family: Comfortaa, sans-serif;
}

body {
    display: flex;
    width: 100vw;
    height: 100vh;
}

a {
    color: black;
}

.side-bar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    position: relative;
    background-image: url(images/background-img.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    width: 40vw;
    height: 100vh;
}

.side-bar::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    background-color: rgba(193, 225, 193, 0.3);
    pointer-events: none;
}

.side-bar .logo {
    display: flex;
    align-items: center;
    gap: 20px;

    position: relative;
    top: 20vh;
    left: 3vw;
}

.side-bar .logo-slogan {
    margin-top: 10px;
}

.side-bar .logo-img {
    height: 10vh;
}

.side-bar .photo-creds {
    align-self: center;
    background-color: var(--credits-color);
    margin-bottom: 10px;
}


.content {
    display: flex;
    flex-direction: column;
    width: 60vw;
    background-color: rgb(143, 200, 143);

}

.content .content-description {
    width: 800px;
    margin-top: 10vh;
    padding: 5px var(--left-margin);
    font-size: 1.3rem;
}

.content .sign-up-entrigue {
    margin: 5px 0 40px 0;
    padding: 0 var(--left-margin);
    font-size: 1.5rem;
}

.content .form-container {
    background-color: rgb(168, 213, 168);
    box-shadow: var(--box-shadow);
    margin-top: 25px;
    padding: 25px var(--left-margin);
}


.content .sign-up-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 20px;
}

.input-container {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 20vw;
    padding: 20px 0;
}

input {
    height: 30px;
    border-width: 1px;
    border-radius: var(--border-radius);
    outline: none;
}

input:hover {
    border: 1px solid rgb(188, 223, 188);
}

input:valid {
    border: 2px solid var(--valid-colour);
}

input:focus {
    border: 2px solid var(--valid-colour);
    border-width: 2px;
    transition: border-color 0.3s ease;
    box-shadow: var(--box-shadow);
}

.input-error {
    position: absolute;
    color: red;
    top: 70px;
}

.submit-button {
    width: 250px;
    padding: 12px 30px;
    margin-left: var(--left-margin);
    margin-top: 30px;
    border: 1px solid black;
    border-radius: var(--border-radius);
    font-size: 18px;
    font-weight: bold;
    background-color: var(--dark-accent-colour);
    color: white;
}

.login-message {
    margin-left: var(--left-margin);
    margin-top: 15px;
}

.login-span {
    font-weight: bold;
    color: var(--dark-accent-colour);
}

footer {
    position: relative;
    align-self: center;
    margin-top: auto;
    margin-bottom: 10px;

    background-color: var(--credits-color);;
}